name: Deploy to EC2

on:
  push:
    branches: [ main ]
    paths:
      - 'backend/**'  # [핵심] backend 폴더 하위의 파일이 변경될 때만 실행
      - '.github/workflows/deploy-be.yml'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Execute Deploy Script via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: 22
          script: |
            cd ~/one-gate/backend
            ./deploy.sh